<html>
    <head>
	<title>Hello Alex</title>
	<script src="https://apis.google.com/js/platform.js" async defer></script>

    </head>
    <body>
        <meta name="google-signin-client_id" content="65498374187-96rjeaa4psin8m3to2cla67g502ci8du.apps.googleusercontent.com">
        <h1>Hi  </h1>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<h1>Here is your variable {{ var }} !</h1>
	{% for item in var_list %}
        <div><p>{{ item }}</b></p></div>
        {% endfor %}

	<h2>{{ var_dict.listname }}</h2>

	{% for item in mylist %}
	<p><b>{{ item.item }} </b></p>
	
	{% endfor %}
        <a href="#" onclick="signOut();">Sign out</a>
        <script>

                function signOut() {
                var auth2 = gapi.auth2.getAuthInstance();
                auth2.signOut().then(function () {
                console.log('User signed out.');
		document.cookie="session_token=";
		window.location="/login.html";
                });
                }
        </script>

    </body>
</html>
